<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WnD</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Wards and Doctors</h1>
    <div><%= totalBeds %></div>
    <div><%= totalVentilators %></div>
    <a href="/add">Add a new hospital</a>
  </body>
</html>
