<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="style3.css">
	<title>Login</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
                            <a class="nav-link" href="#back">Back</a>
                        </li>
    </ul>
  </nav>
    <main class="site-main">

    <section class="site-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 site-title">
                        <p class="title-text">Login</p>
                        </div>   
                     </div>
                </div>
    </section>
<div class="container-about">             	
  <form action="/login" method="post">
  	<div class="row">
  		<div class="col-30">
    <label for="Hname">Hospital Name</label>
      </div>
      <div class="col-70">
    <input type="text" id="Hname" name="hospitalname" >
      </div>
    </div>
    
    <div class="row">
    	<div class="col-30">
    <label for="pwd">Password</label>
      </div>
      <div class="col-70">
    <input type="password" id="pwd" name="password" >
      </div>
    </div>
    <div class="row">
    <input type="submit" value="Submit">
   </div>
  </form>
</div>
</main>



</body>
</html>