* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #42384a;
  position: fixed;
  width: 100%;
}

nav section {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.spacer {
  height: calc(2rem + 20pt);
}

nav span {
  flex: 1;
}

nav a {
  font-family: "Montserrat", sans-serif;
  line-height: 20pt;
  font-size: 16pt;
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 1rem;
  transition: background-color 500ms ease;
}

nav a:hover {
  background-color: #0002;
}

header h1 {
  text-align: center;
  padding: 2rem 1rem;
  font-family: "Abril Fatface";
  letter-spacing: 2px;
  font-size: xx-large;
  color: white;
}

header h1 span {
  color: #42384a;
}

main {
  padding: 1rem 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 512px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  background-color: #5bbfb7;
  box-shadow: 10px 10px 20px #4da29c, -10px -10px 20px #69dcd2;
  padding: 2rem 3rem;
  border-radius: 1rem;
}

form label {
  color: #42384a;
  margin-bottom: 0.5rem;
}

form input {
  margin-bottom: 1rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 12pt;
}

form .button {
  align-self: center;
  margin-top: 1.5rem;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background: linear-gradient(145deg, #61ccc4, #52aca5);
  box-shadow: 6px 6px 12px #50a8a1, -6px -6px 12px #66d6cd;
  font-size: 14pt;
  color: white;
  font-weight: 500;
}

form .button:hover {
  background: linear-gradient(145deg, #52aca5, #61ccc4);
  box-shadow: 6px 6px 12px #50a8a1, -6px -6px 12px #66d6cd;
}
